.stepperWrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepperItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepperItemBefore {
  position: absolute;

  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepperItemAfter {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepperItemDone {
  background-color: #4bb543;
}




.stepCounter {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  margin-bottom: 6px;
}



.stepCounterDone {
  background-color: #c9e7ca;
}

.stepCounterNotDone {
  background-color: #ccc;
}
.stepCounterActive{
  background-color: aqua;
  border: 0.5px solid black;
}

.lineWrapper {
  display: flex;
  flex-direction: row;

  width: 35%;
  z-index: -1;
  position: absolute;
  top: 30px;
  background-color: red;
  align-items: center;

  transform: translate(8%, 0%);
}

.line {
  border-bottom: 4px solid greenyellow;
  /* width: 25%; */
  position: relative;

}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .lineWrapper {
    width: 80%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 768px) {
  .lineWrapper {
    width: 70%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .lineWrapper {
    width: 65%;
  }

}

/*Laptop devices (992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .lineWrapper {
    width: 50%;
  }

}

/*large devices (1200px and up)*/
@media screen and (min-width: 1200px) {
  .lineWrapper {
    width: 35%;
  }

}